

.card{
    background-color:#393a3b;
  
}

.card,
.nextbak {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nextbak  {
    display: flex;
    justify-content:space-between;
    
}

#song-button{
    display: block;
    margin: 0 auto 2rem;
}

#song-button:hover{
    background: #293044;  
}

#head-playlist{
    text-align: center;
}


#par-id{
    text-align: center;
}

.chart-card,
#top-button 
#random-button{
    display: block;
    margin: 0 auto 2rem;
}

.chart-card {
    display:flex;
    justify-content:space-evenly;
}


#top-button:hover,
#random-button:hover{
   background: #293044;
}


#back-button:hover,
#next-button:hover{
   background: #293044;  
}